html,body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.toptitle{
    overflow: hidden;
    height: 150px;
    color: #2c2824;
}
.toptitle h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 15px;
    box-shadow: 0 1px 5px #2c2824;
}


#t1{
    background: url("images/bike01.jpg") no-repeat;
    background-position-y: 75%;
}

#t2{
    background: url("images/bike05.jpg") no-repeat;
    background-position-y: 75%;
}

#t3{
    background: url("images/bike04.jpg") no-repeat;
    background-position-y: 75%;
    color: #fff;
}

#t4{
    background: url("images/map01.jpg") no-repeat;
    background-position-y: 10%;
    color: #fff;
}

nav{
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding: 10px 0; 
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    background-color: #2c2824;
}

nav li{
    float: left;
    display: inline;
    margin-left: 12%;
}

nav a{
    display: block;
    color: #faf9f9;
    text-decoration: none;
}

nav a:hover{
    color: #fa7f04;
}


.wrapper{
    min-height: 500px;
    max-width: 1800px;
    position: relative;
    top: 0;
	background: linear-gradient(-45deg, #EE7752, #E73C7E ,#23A6D5, #23D5AB);
	animation: Gradient 15s ease infinite;
	background-size: 400% 400%;
}

@keyframes Gradient{
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.left{
    float: left;
    width: 30%;
    height: 500px;
    border: 1px solid #2c2824;
}

.right{
    margin-left: 30%;
    width: 69.8%;
    height: 1000px;
    border: 1px solid #2c2824;

}

.window{
    position: fixed;
    z-index: 999;
    right: -200px;
    height: 300px;
    width: 200px;
    background: #fff;
    border: 1px solid #fa7f04;
}

.click{
    position: relative;
    right: 32px;
    top: 80px;
    height: 150px;
    width: 30px;
    border: 1px solid #2c2824;
    color: white;
}


#index1{
    width: 100%;
    height: 600px;
    background: url("images/bike03.jpg") no-repeat;
    background-position-y: 20%;
    background-size: 1372px 864px;
    text-align: center;
}

footer{
    position: absolute;
    width: 100%;
    z-index: 1;
    background: #2c2824;
    color: #fa7f04;
    padding: 10px;
    bottom: 0;
	text-align: center;
	font-size: 12px;
	font-style: oblique;
}

footer a{
    color: #fa7f04;
}

#index1_start{
    position: relative;
    top: 100px;
}

.continue{
    text-align: center;
    color: #2c2824;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.continue:hover{
    font-size: 45px;
    color: #fa7f04;
    transition: 0.7s;
    box-shadow: 0 1px 10px;
}

#map_input{
    height: 160px;
    float: left;
    margin-left: 10%;
    box-shadow: 0 1px 5px #2c2824;
}

#content{
    height: 160px;
    margin-left: 30%;
    overflow: scroll;
}

.content2{
    padding: 0 20px;
    padding-bottom: 50px;
    margin: 0 10%;
    border: 1px solid #2c2824;
    background-color: #fff;
}

.orange{
    background-color: #fa7f04;
}

img{
    min-width: 50%;
    max-width: 60%;
}